<a href="https://colab.research.google.com/github/jshemm/RetirementPlanning/blob/main/Retirement_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

#117 simulations from 1871-1987
Data = pd.read_csv("/content/gdrive/My Drive/Finance/sim_data(1).csv", index_col = "Row ID")
TotalSims = len(Data["Simulation Number"].unique())
EarlyYears = Data[Data["Year Number"] < 11]
Trouble = EarlyYears[EarlyYears["End Portfolio Value (In First Year Dollars)"] < 1000000]
ProblemSims = Trouble["Simulation Number"].unique()
NumProblemYears = len(ProblemSims)
PercProbYears = NumProblemYears / TotalSims * 100
Years = len(Data["Year Number"].unique())
Years

Mounted at /content/gdrive

35

In [ ]:
PercProbYears

8.547008547008547

In [ ]:
Data.head()

,Simulation Number,Year Number,Start Year,End Year,Current Year,End Portfolio Value,End Portfolio Value (In First Year Dollars),Is Out of Money?,Total Available Spend,Total Available Spend (In First Year Dollars),Base Withdrawal Amount,Additional Withdrawal Amount,Cumulative Inflation
Row ID,,,,,,,,,,,,,
1.1,1,1,1987,2021,1987,1893115.75,1819485.49,False,70000.00,70000.0,70000.00,0.0,1.00
1.2,1,2,1987,2021,1988,2067243.22,1898244.81,False,72832.73,70000.0,72832.73,0.0,1.04
1.3,1,3,1987,2021,1989,2365408.80,2064626.83,False,76232.01,70000.0,76232.01,0.0,1.09
1.4,1,4,1987,2021,1990,2312998.10,1910886.99,False,80197.84,70000.0,80197.84,0.0,1.15
1.5,1,5,1987,2021,1991,2789483.16,2246129.81,False,84730.21,70000.0,84730.21,0.0,1.21